/* SHARED STYLES */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.card {
    border-radius: 1rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}